.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 120px;
    border-top: 1px solid #c3c1c1;

    #footer__logo {
        width: 183px;
        object-fit: cover;
    }

    .footer__contents {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    #fnb {
        display: flex;
        gap: 40px;
    }

    .fnb__menu:not(:last-child) ::after {
        content: "|";
        color: #c3c1c1;
        position: relative;
        left: 20px;
    }

    #footer__contact {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .contact {
        display: flex;
        gap: 12px;
        align-items: center;
    }

    #contact-img {
        width: 28px;
        height: 28px;
    }

    #footer__copyright {
        align-self: end;
    }
}
