.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding: 0 100px;
    font-size: 20px;
    color: #fff;
    border-bottom: 1px solid #fff;
    transition: all 0.5s ease-in-out;

    .header__logo {
        width: 160px;
        height: 22px;
    }

    .header__logo-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #gnb {
        display: flex;
        gap: 50px;
    }

    .gnb__menu {
        display: flex;
        align-items: center;
        height: 90px;
        padding: 25px;
    }

    .gnb__link {
        transition: color 0.1s ease-in-out;
    }

    .gnb__menu:hover .gnb__link {
        color: #f19d38;
    }

    .header__lang-change {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    #header__lang-icon {
        width: 30px;
        height: 30px;
    }

    #header__lang-btn {
        font-family: "Pretendard-Bold", sans-serif;
        border: none;
        padding: 0;
        background: none;
        padding-left: 10px;
        cursor: pointer;
        font-size: 16px;
        transition: all 0.5s ease-in-out;
    }

    .header__hamburger {
        display: none;
    }
}

// 색 전환
.header__lang-btn--black {
    color: #3e3a39;
}

.header__lang-btn--white {
    color: white;
}

.header__white {
    background-color: #fff;
    border-bottom: 1px solid #c3c1c1;
    color: #3e3a39;
}

// 태블릿, 모바일
@media screen and (max-width: 1300px) {
    .header {
        .header__menu {
            display: none;
        }

        .header__lang-change {
            display: none;
        }

        #header__lang-btn {
            padding-left: 8px;
            font-size: 14px;
        }

        .header__hamburger {
            display: block;
        }

        #hamburger-icon {
            display: block;
            width: 35px;
            height: 35px;
            color: #fff;
        }
    }
}

// 모바일
@media screen and (max-width: 767px) {
    .header {
        padding: 0 30px;
        height: 75px;

        .header__logo {
            width: 120px;
            height: 16px;
        }

        #header__lang-icon {
            width: 28px;
            height: 28px;
        }

        #header__lang-btn {
            padding-left: 6px;
        }

        #hamburger-icon {
            width: 30px;
            height: 30px;
        }
    }
}

