.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding: 0 100px;
    background-color: #fff;
    font-size: 17px;

    #header__logo-img {
        width: 140px;
        object-fit: cover;
    }

    #gnb {
        display: flex;
        gap: 50px;
    }

    .gnb__menu {
        display: flex;
        align-items: center;
        height: 90px;
        padding: 25px;
    }

    .gnb__menu:hover .gnb__link {
        color: #f19d38;
    }

    #language-change {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    #language-img {
        width: 30px;
        height: 30px;
    }

    #language-btn {
        font-family: "Pretendard-Regular", sans-serif;
        border: none;
        padding: 0;
        background: none;
        padding-left: 10px;
        cursor: pointer;
        font-size: 16px;
    }
}
