.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100vw;
    width: 85vw;
    height: 100%;
    overflow-y: auto;
    opacity: 0;
    z-index: 300;
    background-color: #fff;
    transition: all 0.5s ease-in-out;

    &--visible {
        right: 0;
        opacity: 1;
    }

    .sidebar__header {
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 30px;
        width: 100%;
        height: 90px;
        padding: 0 40px;
        border-bottom: 1px solid #c3c1c1;
    }

    .sidebar__lang-change {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    #sidebar__lang-icon {
        width: 30px;
        height: 30px;
    }

    #sidebar__lang-btn {
        font-family: "Pretendard-Bold", sans-serif;
        border: none;
        padding: 0;
        padding-left: 6px;
        font-size: 14px;
        color: #3e3a39;
        background: none;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
    }

    .sidebar__closer {
        height: 90px;
        cursor: default;
    }

    #sidebar__close-icon {
        width: 35px;
        height: 35px;
        color: #3e3a39;
        cursor: pointer;
    }

    .sidebar__contents {
        display: flex;
        flex-direction: column;
        gap: 60px;
        width: 100%;
        padding: 50px 0 50px 50px;
    }

    .sidebar__content {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .sidebar__gnb {
        font-size: 22px;
    }

    .sidebar__lnb {
        font-size: 17px;
        position: relative;
        width: fit-content;
    }

    .sidebar__lnb::after {
        content: "";
        display: block;
        position: absolute;
        top: 3px;
        right: -20px;
        width: 10px;
        height: 10px;
        background-image: url("src/assets/images/arrow.png");
        background-size: cover;
    }
}

.overlay {
    transition: all 0.5s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 200;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
}

.overlay__open {
    opacity: 1;
    visibility: visible;
}

@media screen and (max-width: 767px) {
    .sidebar {
        .sidebar__header {
            height: 75px;
            padding: 0 30px;
            gap: 25px;
        }

        .sidebar__closer {
            height: 75px;
        }

        .sidebar__contents {
            gap: 45px;
            padding: 40px 0 40px 40px;
        }

        .sidebar__content {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .sidebar__gnb {
            font-size: 18px;
        }

        .sidebar__lnb {
            font-size: 15px;
        }

        .sidebar__lnb::after {
            top: 4px;
            right: -14px;
            width: 8px;
            height: 8px;
        }
    }
}
