.sitemap {
    display: flex;
    justify-content: left;
    position: fixed;
    top: 90px;
    width: 100%;
    height: 0;
    padding: 0 100px;
    overflow: hidden;
    opacity: 0;
    gap: 200px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 2px -1px;
    transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out,
        padding 0.5s ease-in-out;

    &--visible {
        height: 300px;
        opacity: 1;
        padding: 50px 100px;
    }

    #sitemap__menu::after {
        content: "";
        display: block;
        width: 1px;
        height: 250px;
        position: absolute;
        background-color: #c3c1c1;
        top: 25px;
        left: 270px;
    }

    #lnb {
        display: flex;
        flex-direction: column;
        justify-content: left;
        gap: 30px;
    }
}
